<div class="banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-banner sm-mb-18 xs-mb-18">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/1.jpeg" alt="">
                        <span class="out">
                            <span class="in">shirts for men</span>
                        </span>
                        <span class="lebel-out">
                            <span class="lebel-in">Sale Off</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-banner sm-mb-18 xs-mb-18">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/2.jpeg" alt="">
                        <span class="out">
                            <span class="in">Handbag for men</span>
                        </span>
                        <span class="lebel-out">
                            <span class="lebel-in">Sale Off</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-banner mb-18">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/3.jpeg" alt="">
                        <span class="out">
                            <span class="in">jacket sports</span>
                        </span>
                        <span class="lebel-out">
                            <span class="lebel-in">-33%</span>
                        </span>
                    </a>
                </div>
                <div class="single-banner xs-mb-18">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/4.jpeg" alt="">
                        <span class="out">
                            <span class="in">watches</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-banner mb-18">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/5.jpeg" alt="">
                        <span class="out">
                            <span class="in">shoes for men</span>
                        </span>
                    </a>
                </div>
                <div class="single-banner">
                    <a href="#">
                        <img src="~/ClientTemplate/img/banner/6.jpeg" alt="">
                        <span class="out">
                            <span class="in">suits</span>
                        </span>
                        <span class="lebel-out">
                            <span class="lebel-in">-17%</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
