<!-- shop-service-area start -->
<div class="service-area mt-10">
    <div class="container-fluid">
        <div class="service-bg ptb-40">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-plane.jpeg" alt="plane">
                        </div>
                        <div class="text">
                            <h3>free shipping worldwide</h3>
                            <p>On order over $150 - 7 days a week</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
                    <div class="single-service br-none">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-headphone.jpeg" alt="icon-headphone">
                        </div>
                        <div class="text">
                            <h3>24/7 customer service</h3>
                            <p>Call us 24/7 at 000 - 123 - 456</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/rotate.jpeg" alt="rotate">
                        </div>
                        <div class="text">
                            <h3>money back guaratee!</h3>
                            <p>Send within 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-cog.jpeg" alt="icon-cog">
                        </div>
                        <div class="text">
                            <h3>Shopping Guide</h3>
                            <p>Quis Eum Iure Reprehenderit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-service-area end -->
<div class="footer-top-area">
    <div class="container-fluid">
        <div class="footer-content ptb-40">
            <img src="~/ClientTemplate/img/footer-logo.png" alt="">
            <p>Oxelar is one of the best selling responsive fashion prestashop theme in the world.</p>
            <div class="social-button mt-50">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
            </div>
            <div class="payment mt-30">
                <a href="#"><img src="~/ClientTemplate/img/payment.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- footer-bottom-area start -->
<div class="container-fluid">
    <div class="footer-bottom-area ptb-25">
        <p>Copyright &copy; 2017 <a href="#">HasTech</a>. All Rights Reserved</p>
    </div>
</div>
<!-- footer-bottom-area end -->
