<div class="header-area ptb-40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="logo">
                    <a href="index.html"><img src="~/ClientTemplate/img\logo.jpeg" alt=""></a>
                </div>
            </div>
            <div class="col-sm-offset-6 col-sm-3 visible-sm">
                <div class="top-control">
                    <ul>
                        <li class="settings">
                            <i class="icon_cog"></i>
                            <ul class="settings-open">
                                <li>
                                    <a href="#">Sign In</a>
                                    <a href="#">My Cart</a>
                                    <a href="#">Compare</a>
                                    <a href="#">Wishlist</a>
                                    <a href="#">Check Out</a>
                                </li>
                                <li>
                                    Currencies
                                    <a class="pad-left active" href="#">Dollar(USD)</a>
                                    <a class="pad-left" href="#">Euro(EUR)</a>
                                </li>
                                <li>
                                    Language
                                    <a class="pad-left active" href="#">English</a>
                                    <a class="pad-left" href="#">اللغة العربية</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search">
                            <i class="icon_search"></i>
                            <div class="inner-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="cart">
                            <i class="icon_bag_alt"></i>
                            <span class="count">2</span>
                            <ul class="cart-open">
                                <li class="single-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="~/ClientTemplate/img\cart\1.jpeg" alt=""></a>
                                    </div>
                                    <div class="cart-content">
                                        <h4><a href="#">1X <span>Faded Short Sleeves <br>T-shirt</span></a></h4>
                                        <span><a href="#">S, Yellow </a></span>
                                        <span class="cart-price">$ 16.84</span>
                                    </div>
                                    <div class="cart-del">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="single-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="~/ClientTemplate/img\cart\2.jpeg" alt=""></a>
                                    </div>
                                    <div class="cart-content">
                                        <h4><a href="#">1X <span>Blouse</span></a></h4>
                                        <span><a href="#"> S, Yellow</a></span>
                                        <span class="cart-price">$ 16.84</span>
                                    </div>
                                    <div class="cart-del">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="p-0 border">
                                    <span class="total-price"> Shiping <span class="right">$ 7.00</span> </span>
                                </li>
                                <li class="p-0">
                                    <span class="total-price"> Total <span class="right">$ 48.04</span> </span>
                                </li>
                                <li class="check-out">
                                    <div class="checkout-bg">
                                        <a href="#">checkout <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 hidden-xs">
                <div class="mainmenu">
                    <nav>
                        <ul>
                            <li>
                                <a class="active" href="index.html">Home<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="index-2.html">Home Page-2</a></li>
                                    <li><a href="index-3.html">Home Page-3</a></li>
                                    <li><a href="index-4.html">Home Page-4</a></li>
                                    <li><a href="index-5.html">Home Page-5</a></li>
                                    <li><a href="index-6.html">Home Page-6</a></li>
                                </ul>
                            </li>
                            <li class="static">
                                <a href="clothing.html">Clothing<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="mega-menu-2">
                                    <span class="pr-30">
                                        <a href="#" class="mega-title">men</a>
                                        <a href="#">Blazers & Vests</a>
                                        <a href="#">Graphics Tees</a>
                                        <a href="#">Jeans</a>
                                        <a href="#">Jackets & Outerwear</a>
                                        <a href="#">Pants</a>
                                    </span>
                                    <span class="pr-30">
                                        <a href="#" class="mega-title">women</a>
                                        <a href="#">Blazers & Vests</a>
                                        <a href="#">Graphics Tees</a>
                                        <a href="#">Jeans</a>
                                        <a href="#">Jackets & Outerwear</a>
                                        <a href="#">Pants</a>
                                    </span>
                                    <span class="pr-30">
                                        <a href="#" class="mega-title">kid</a>
                                        <a href="#">New arrivals</a>
                                        <a href="#">Blazers & Vests</a>
                                        <a href="#">Graphics Tees</a>
                                    </span>
                                    <div class="menu-image">
                                        <span class="overlay pr-30">
                                            <a href="#"><img src="img\menu\1.jpeg" alt=""></a>
                                        </span>
                                        <span class="overlay pr-30">
                                            <a href="#"><img src="img\menu\2.jpeg" alt=""></a>
                                        </span>
                                        <span class="overlay pr-30">
                                            <a href="#"><img src="img\menu\3.jpeg" alt=""></a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Jeans<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="mega-menu">
                                    <span class="pr-30">
                                        <a href="#" class="mega-title">men</a>
                                        <a href="#">Blazers & Vests</a>
                                        <a href="#">Graphics Tees</a>
                                        <a href="#">Jeans</a>
                                    </span>
                                    <span>
                                        <a href="#" class="mega-title">woman</a>
                                        <a href="#">Jackets & Outerwear</a>
                                        <a href="#">Pants</a>
                                        <a href="#">Graphics Tees</a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="shop.html">shop<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="shop.html">shop</a></li>
                                    <li><a href="shop-right-sidebar.html">shop-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">blog<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-no-sidebar.html">blog-2</a></li>
                                    <li><a href="blog-right-sidebar.html">blog-3</a></li>
                                    <li><a href="blogdetails.html">blogdetails</a></li>
                                    <li><a href="blogdetails-right-sidebar.html">blogdetails-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">pages<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="404-error.html">404-error</a></li>
                                    <li><a href="about-us.html">about us</a></li>
                                    <li><a href="compare.html">compare</a></li>
                                    <li><a href="contact-us.html">contact us</a></li>
                                    <li><a href="frequently-questions.html">frequently questions</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="shopping-cart.html">shopping-cart</a></li>
                                    <li><a href="single-product.html">single-product</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 hidden-sm col-xs-12">
                <div class="top-control">
                    <ul>
                        <li class="settings">
                            <i class="icon_cog"></i>
                            <ul class="settings-open">
                                <li>
                                    <a href="#">Sign In</a>
                                    <a href="#">My Cart</a>
                                    <a href="#">Compare</a>
                                    <a href="#">Wishlist</a>
                                    <a href="#">Check Out</a>
                                </li>
                                <li>
                                    Currencies
                                    <a class="pad-left active" href="#">Dollar(USD)</a>
                                    <a class="pad-left" href="#">Euro(EUR)</a>
                                </li>
                                <li>
                                    Language
                                    <a class="pad-left active" href="#">English</a>
                                    <a class="pad-left" href="#">اللغة العربية</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search">
                            <i class="icon_search"></i>
                            <div class="inner-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="cart">
                            <i class="icon_bag_alt"></i>
                            <span class="count">2</span>
                            <ul class="cart-open">
                                <li class="single-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="~/ClientTemplate/img\cart\1.jpeg" alt=""></a>
                                    </div>
                                    <div class="cart-content">
                                        <h4><a href="#">1X <span>Faded Short Sleeves <br>T-shirt</span></a></h4>
                                        <span><a href="#">S, Yellow </a></span>
                                        <span class="cart-price">$ 16.84</span>
                                    </div>
                                    <div class="cart-del">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="single-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="~/ClientTemplate/img\cart\2.jpeg" alt=""></a>
                                    </div>
                                    <div class="cart-content">
                                        <h4><a href="#">1X <span>Blouse</span></a></h4>
                                        <span><a href="#"> S, Yellow</a></span>
                                        <span class="cart-price">$ 16.84</span>
                                    </div>
                                    <div class="cart-del">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="p-0 border">
                                    <span class="total-price"> Shiping <span class="right">$ 7.00</span> </span>
                                </li>
                                <li class="p-0">
                                    <span class="total-price"> TOTAL <span class="right">$ 48.04</span> </span>
                                </li>
                                <li class="check-out">
                                    <div class="checkout-bg">
                                        <a href="#">checkout <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
