<div class="container-fluid">
    <div class="slider-area">
        <div class="slider-container">
            <!-- Slider Image -->
            <div id="mainSlider" class="nivoSlider slider-image">
                <img src="~/ClientTemplate/img/slider/1.jpeg" alt="main slider" title="#htmlcaption1">
                <img src="~/ClientTemplate/img/slider/2.jpeg" alt="main slider" title="#htmlcaption2">
            </div>
            <!-- Slider Caption 1 -->
            <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                <div class="slider-progress"></div>
                <div class="slide1-text hidden-xs">
                    <div class="middle-text">
                        <div class="cap-title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0s">
                            <img src="~/ClientTemplate/img/slider/caption.png" alt="">
                        </div>
                        <div class="cap-title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0s">
                            <p class="title">oxelar STORE</p>
                        </div>
                        <div class="cap-dec wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.3s">
                            <h1>Make your style cool</h1>
                        </div>
                        <div class="cap-title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.6s">
                            <p class="pera-2">Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                        </div>
                        <div class="cap-readmore wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.9s">
                            <a class="more" href="#">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Caption 2 -->
            <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
                <div class="slider-progress"></div>
                <div class="slide2-text hidden-xs">
                    <div class="middle-text">
                        <div class="cap-title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0s">
                            <img src="~/ClientTemplate/img/slider/caption.png" alt="">
                        </div>
                        <div class="cap-title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0s">
                            <p class="title">oxelar STORE</p>
                        </div>
                        <div class="cap-dec wow fadeInUp" data-wow-duration="0.9s" data-wow-delay="0.3s">
                            <h1>Make your style cool</h1>
                        </div>
                        <div class="cap-title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.6s">
                            <p class="pera-2">Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                        </div>
                        <div class="cap-readmore wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.9s">
                            <a class="more" href="#">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
