
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}
<!-- Body main wrapper start -->
<div class="wrapper">

    <!-- BREADCRUMB AREA START -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcurmb-inner">
                        <!-- breadcrumb-menu -->
                        <div class="breadcrumb-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html" title="Home Page"><i class="fa fa-home"></i></a></li>
                                    <li>Shopping Cart</li>
                                </ul>
                            </nav>
                        </div>
                        <!-- breadcrumb-title -->
                        <div class="breadcrumb-title line-bottom">
                            <h2>Shopping Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    <!-- SHOPPING CART AREA START -->
    <div class="shopping-cart-area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shopping-cart-inner">
                        <!-- shopping-cart-table start -->
                        <div class="shopping-cart-table table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Images</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="~/ClientTemplate/images/product/1.jpeg" alt="Product Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">Handbags Rutrum</a>
                                        </td>
                                        <td class="product-price">
                                            <span>£80.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <input type="number" step="1" min="0" value="1" title="Quantity" size="4">
                                        </td>
                                        <td class="product-subtotal">
                                            <span>£80.00</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="~/ClientTemplate/images/product/2.jpeg" alt="Product Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">sport coat women</a>
                                        </td>
                                        <td class="product-price">
                                            <span>£75.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <input type="number" step="1" min="0" value="1" title="Quantity" size="4">
                                        </td>
                                        <td class="product-subtotal">
                                            <span>£75.00</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="~/ClientTemplate/images/product/3.jpeg" alt="Product Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">t-shirt amet</a>
                                        </td>
                                        <td class="product-price">
                                            <span>£120.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <input type="number" step="1" min="0" value="1" title="Quantity" size="4">
                                        </td>
                                        <td class="product-subtotal">
                                            <span>£120.00</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="~/ClientTemplate/images/product/4.jpeg" alt="Product Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">Pellentesque men</a>
                                        </td>
                                        <td class="product-price">
                                            <span>£55.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <input type="number" step="1" min="0" value="1" title="Quantity" size="4">
                                        </td>
                                        <td class="product-subtotal">
                                            <span>£55.00</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="~/ClientTemplate/images/product/5.jpeg" alt="Product Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">short fusce</a>
                                        </td>
                                        <td class="product-price">
                                            <span>£255.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <input type="number" step="1" min="0" value="1" title="Quantity" size="4">
                                        </td>
                                        <td class="product-subtotal">
                                            <span>£255.00</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="table-bottom text-right">
                                        <td colspan="6">
                                            <input type="submit" value="Update cart">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- shopping-cart-table end -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="shopping-cart-coupon">
                                    <h6 class="title-4">Coupon</h6>
                                    <p>Enter your coupon code if you have one.</p>
                                    <form action="#">
                                        <input type="text" placeholder="Coupon code">
                                        <input type="submit" value="APPLY COUPON">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="shopping-cart-total">
                                    <h6 class="title-4">CART TOTALS</h6>
                                    <div class="table-responsive">
                                        <table class="table shopping-total-table">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td>£130.00</td>
                                                </tr>
                                                <tr class="cart-total">
                                                    <th>total</th>
                                                    <td><strong>£130.00</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-3">
                                        <a href="#">PROCEED TO CHECKOUT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOPPING CART AREA END -->
</div>
<!-- Body main wrapper end -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("button.owl-prev").find("img").remove();
            $("button.owl-next").find("img").remove();
            var iconPrev = "<i></i>";
            $("button.owl-prev").append(iconPrev);
            $("button.owl-prev i").addClass("fa fa-arrow-left");
            $("button.owl-next").append(iconPrev);
            $("button.owl-next i").addClass("fa fa-arrow-right");
        });
    </script>
}