
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}
<!-- Body main wrapper start -->
<div class="wrapper">
  
    <!-- BREADCRUMB AREA START -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcurmb-inner">
                        <!-- breadcrumb-menu -->
                        <div class="breadcrumb-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html" title="Home Page"><i class="fa fa-home"></i></a></li>
                                    <li>Checkout</li>
                                </ul>
                            </nav>
                        </div>
                        <!-- breadcrumb-title -->
                        <div class="breadcrumb-title line-bottom">
                            <h2>Checkout</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    <!-- CHECKOUT-AREA START -->
    <div class="checkout-area margin-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-6 margin-bottom-50">Checkout</h3>
                </div>
            </div>
            <div class="coupon-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                            <div id="checkout-login" class="coupon-content">
                                <div class="coupon-info">
                                    <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Username or email <span>*</span></label>
                                                <input type="text">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Password  <span>*</span></label>
                                                <input type="password">
                                            </div>
                                        </div>
                                        <p class="form-row">
                                            <input type="submit" value="Login">
                                            <label>
                                                <input type="checkbox">
                                                Remember me
                                            </label>
                                        </p>
                                        <p class="lost-password">
                                            <a href="#">Lost your password?</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                            <!-- ACCORDION START -->
                            <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                            <div id="checkout_coupon" class="coupon-checkout-content">
                                <div class="coupon-info">
                                    <form action="#">
                                        <p class="checkout-coupon">
                                            <input type="text" placeholder="Coupon code">
                                            <input type="submit" value="Apply Coupon">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Checkout-Billing-details and order start -->
            <div class="checkout-bill-order">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkout-bill">
                                <h3 class="title-7 margin-bottom-50">Billing Details</h3>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>Username or email <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Password  <span>*</span></label>
                                    <input type="password">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Company Name </label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>Email Address <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone  <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Country </label>
                                    <input type="text" placeholder="United states (US)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Address </label>
                                    <input type="text" placeholder="Street address">
                                    <input type="text" placeholder="Site, Unite etc (optional)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Town / City </label>
                                    <input type="text" placeholder="United states (US)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>State <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Zip  <span>*</span></label>
                                    <input type="text">
                                    <p>
                                </div>
                            </div>
                            <div class="new-account-create">
                                <h4 class="title-8">Create Account</h4>
                                <label>
                                    <input type="checkbox" checked="checked">
                                    <span>Create an account by entering the information below. </span>
                                </label>
                                <label>
                                    <span>If you are a returning customer please login at the top of the page.</span>
                                </label>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Account Password </label>
                                    <input type="password">
                                </div>
                            </div>
                            <h4 class="title-8">Ship to a different address <input type="checkbox" checked="checked"></h4>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>Username or email <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Password  <span>*</span></label>
                                    <input type="password">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Company Name </label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>Email Address <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone  <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Country </label>
                                    <input type="text" placeholder="United states (US)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Address </label>
                                    <input type="text" placeholder="Street address">
                                    <input type="text" placeholder="Site, Unite etc (optional)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Town / City </label>
                                    <input type="text" placeholder="United states (US)">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-6">
                                    <label>State <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="col-md-6">
                                    <label>Zip  <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row coupon-info">
                                <div class="col-md-12">
                                    <label>Additoional Information</label>
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="your-order">
                                <h3 class="title-7 margin-bottom-50">Your Order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="product-name">Lorem Ipsum comes  (1)</td>
                                                <td class="product-total">$499.00</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Extremes of Good (3) </td>
                                                <td class="product-total">$559.00</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Lorem Ipsum comes  (1)</td>
                                                <td class="product-total">$320.00</td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Shipping</th>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" id="1">
                                                            <label for="1">
                                                                Free Shipping
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="2">
                                                            <label for="2">
                                                                Flat Rate  <span class="amount">$120.00</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="3">
                                                            <label for="3">
                                                                International Delivery
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="product-name order-total">Order Total</td>
                                                <td class="product-total order-total">$1378.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="payment-method">
                                        <div class="payment-accordion">
                                            <!-- ACCORDION START -->
                                            <h3 class="payment-accordion-toggle active">Direct Bank Transfer</h3>
                                            <div class="payment-content default">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                            </div>
                                            <!-- ACCORDION END -->
                                            <!-- ACCORDION START -->
                                            <h3 class="payment-accordion-toggle">Cheque Payment</h3>
                                            <div class="payment-content">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                            <!-- ACCORDION END -->
                                            <!-- ACCORDION START -->
                                            <h3 class="payment-accordion-toggle">PayPal</h3>
                                            <div class="payment-content">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                <a href="#"><img src="~/ClientTemplate/images/icons/payment.png" alt="Payment Image"></a>
                                            </div>
                                            <!-- ACCORDION END -->
                                        </div>
                                        <div class="order-button-payment">
                                            <input type="submit" value="Place order">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Checkout-Billing-details and order end -->
        </div>
    </div>
    <!-- CHECKOUT-AREA END -->
    <!-- BRAND AREA START -->
    <div class="brand-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-1">
                        <h2>BRAND LOGO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-carousel-active owl-carousel arrow-style-1">
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/1.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/2.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/3.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/4.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/5.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/1.png" alt="Brand Logo"></a>
                        </div>
                        <!-- single-brand-wrapper -->
                        <div class="single-brand-wrapper">
                            <a href="#"><img src="~/ClientTemplate/images/brand/2.png" alt="Brand Logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND AREA END -->
    <!-- BANNER CALL TO ACTION START -->
    <div class="banner-call-to-action-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!-- single-banner-call-to-action-wrapper -->
                    <div class="single-banner-call-to-action-wrapper">
                        <img src="~/ClientTemplate/images/icons/arrow-left-2.png" alt="Arrow Image">
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- single-banner-call-to-action-wrapper -->
                    <div class="single-banner-call-to-action-wrapper">
                        <a href="#"><img src="~/ClientTemplate/images/banner/4.png" alt="Image of Banner"></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <!-- single-banner-call-to-action-wrapper -->
                    <div class="single-banner-call-to-action-wrapper">
                        <img src="~/ClientTemplate/images/icons/arrow-right-2.png" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER CALL TO ACTION AREA END -->
   
</div>
<!-- Body main wrapper end -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("button.owl-prev").find("img").remove();
            $("button.owl-next").find("img").remove();
            var iconPrev = "<i></i>";
            $("button.owl-prev").append(iconPrev);
            $("button.owl-prev i").addClass("fa fa-arrow-left");
            $("button.owl-next").append(iconPrev);
            $("button.owl-next i").addClass("fa fa-arrow-right");
        });
    </script>
}