
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}

<!-- login-area start -->
<div class="container-fluid">
    <div class="frequently-questions-area white-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Authentication</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="log-in-area white-bg ptb-70 small-ptb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>Authentication</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-single">
                        <form action="#">
                            <h3>Create an account</h3>
                            <p>Please enter your email address to create an account.</p>
                            <label for="email_create">Email Address</label>
                            <input type="email" id="email_create">
                            <button type="submit"><span class="button-inner"> <i class="fa fa-user" aria-hidden="true"></i>Create an account </span></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-single form-single-right">
                        <form action="#">
                            <h3>Create an account</h3>
                            <label for="email_create-2">Email Address</label>
                            <input type="email" id="email_create-2">
                            <label for="passward">Passward</label>
                            <input type="password" id="passward">
                            <span title="Forgot your password?" class="forgot">Forgot your password?</span>
                            <button type="submit"><span class="button-inner"><i class="fa fa-lock" aria-hidden="true"></i>Sign in </span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->
<!-- login-service-area start -->
<div class="service-area">
    <div class="container-fluid">
        <div class="service-bg ptb-40">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-plane.jpeg" alt="plane">
                        </div>
                        <div class="text">
                            <h3>free shipping worldwide</h3>
                            <p>On order over $150 - 7 days a week</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
                    <div class="single-service br-none">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-headphone.jpeg" alt="icon-headphone">
                        </div>
                        <div class="text">
                            <h3>24/7 customer service</h3>
                            <p>Call us 24/7 at 000 - 123 - 456</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/rotate.jpeg" alt="rotate">
                        </div>
                        <div class="text">
                            <h3>money back guaratee!</h3>
                            <p>Send within 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-img">
                            <img src="~/ClientTemplate/img/service/icon-cog.jpeg" alt="icon-cog">
                        </div>
                        <div class="text">
                            <h3>Shopping Guide</h3>
                            <p>Quis Eum Iure Reprehenderit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-service-area end -->
<!-- login-footer-top-area start -->
<div class="footer-top-area">
    <div class="container-fluid">
        <div class="footer-content ptb-40">
            <img src="img\footer-logo.png" alt="">
            <p>Oxelar is one of the best selling responsive fashion prestashop theme in the world.</p>
            <div class="social-button mt-50">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
            </div>
            <div class="payment mt-30">
                <a href="#"><img src="img\payment.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- login-footer-top-area end -->